#root {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url(https://previews.123rf.com/images/sborisov/sborisov1710/sborisov171000243/88685906-soleado-paisaje-de-oto%C3%B1o-con-%C3%A1rboles-de-oro-y-cielo-azul-en-el-campo.jpg);

}

